@font-face {
  font-family: HarmonyOS-Black;
  src: url('./fonts/HarmonyOS_Sans_SC_Black.ttf');
}

@font-face {
  font-family: HarmonyOS-Bold;
  src: url('./fonts/HarmonyOS_Sans_SC_Bold.ttf');
}

@font-face {
  font-family: HarmonyOS-Light;
  src: url('./fonts/HarmonyOS_Sans_SC_Light.ttf');
}

@font-face {
  font-family: HarmonyOS-Medium;
  src: url('./fonts/HarmonyOS_Sans_SC_Medium.ttf');
}

@font-face {
  font-family: HarmonyOS-Regular;
  src: url('./fonts/HarmonyOS_Sans_SC_Regular.ttf');
}

@font-face {
  font-family: HarmonyOS-Thin;
  src: url('./fonts/HarmonyOS_Sans_SC_Thin.ttf');
}

/* ======================================================== */

@font-face {
  font-family: PangMenZhengDaoBiaoTiTi;
  src: url('./fonts/PangMenZhengDaoBiaoTiTi-1.ttf');
}

@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('./fonts/YouSheBiaoTiHei-2.ttf');
}

@font-face {
  font-family: AlimamaShuHeiTi-Bold;
  src: url('./fonts/AlimamaShuHeiTi-Bold.ttf');
}

/* ==================================================== */
@font-face {
  font-family: Barlow-Bold-Italic;
  src: url('./fonts/Barlow Bold Italic.ttf');
}

@font-face {
  font-family: Barlow-Normal-Medium-Italic;
  src: url('./fonts/Barlow Medium Italic.ttf');
}

@font-face {
  font-family: Barlow-Italic;
  src: url('./fonts/Barlow Italic.ttf');
}

@font-face {
  font-family: Barlow-SemiBold;
  src: url('./fonts/Barlow SemiBold.ttf');
}

@font-face {
  font-family: Barlow-Regular;
  src: url('./fonts/Barlow Regular.ttf');
}

@font-face {
  font-family: Barlow-Medium;
  src: url('./fonts/Barlow Medium.ttf');
}

/* ==================================================== */

@font-face {
  font-family: SourceHanSansCN-Normal;
  src: url('./fonts/SourceHanSansCN-Normal.otf');
}

@font-face {
  font-family: SourceHanSansCN-Regular;
  src: url('./fonts/SourceHanSansCN-Regular.otf');
}

@font-face {
  font-family: Inter-Regular;
  src: url('./fonts/Inter Regular.ttf');
}
